.heading-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}


.title-heading {
  font-size: 45px;
  font-weight: 600;
  color: #000;
  margin-left: 20px;
}

